@using Msz.ViewModels
@using Msz.Services;
@model ReceiverIndexViewModel

@{
    ViewData["Title"] = "Реестр получателей МСЗ";
    IAclService _aclService = null;
    if (ViewData.ContainsKey("aclService"))
    {
        _aclService = (IAclService)ViewData["aclService"];
    }
    var props = new Dictionary<string, string>();
    var filtered = false;
    foreach (var property in Model.FilterOptions.GetType().GetProperties())
    {
        var value = property.GetValue(Model.FilterOptions);
        if (value == null) { continue; }
        if (property.Name != "IncludeReasonPersonsInFiltering")
        {
            filtered = true;
        }
        props.Add("FilterOptions." + property.Name, property.GetValue(Model.FilterOptions).ToString());
    }

    var mszs = new SelectList(Model.Mszs, "Id", "Name");
}

<h2>Получатели мер социальной поддержки</h2>
@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger msz-error-alert" role="alert">@TempData["Error"]</div>
}

@if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success msz-success-alert" role="alert">@TempData["Success"]</div>
}
<div class="msz-tool-panel">
    <div class="col-xs-12 msz-tool-group">
        <div class="row">
            <div class="btn-group msz-egisso-btn-group">
                <button type="button" class="btn btn-success dropdown-toggle msz-egisso-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="msz-glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"></span> ЕГИССО <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="DownloadFilteredRecievers"
                           asp-all-route-data="@props">
                            Выгрузить отфильтрованных получателей
                        </a>
                    </li>
                    <li>
                        <form asp-action="UpdateMszAndCategories" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="returnUrl" value="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
                            <input type="file" id="msz-category-file-btn" name="xml" href="#">
                            <label for="msz-category-file-btn">Обновить категории и МСЗ</label>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="btn-group msz-search-btn-group">
                <button type="button" class="btn btn-success dropdown-toggle msz-search-toggle-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="msz-glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Фильтрация <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="msz-dd-search-btn @(filtered ? "msz-active" : "")">Применить фильтр</a>
                    </li>
                    <li>
                        <a asp-action="Index" class="msz-dd-cancel-search-btn @(filtered ? "" : "msz-disabled")">Отменить фильтр</a>
                    </li>
                </ul>
            </div>

            <a href="#" class="btn btn-success msz-search-btn @(filtered ? "active" : "")"><span class="msz-glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Применить фильтр</a>
            <a asp-action="Index" class="btn btn-success msz-cancel-search-btn @(filtered ? "" : "disabled")"><span class="msz-glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Отменить фильтр</a>
            @if (_aclService != null && _aclService.CanInsertAny())
            {
                <a asp-action="Create" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" class="btn btn-success msz-add-receiver-btn">
                    <span class="msz-glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить получателя
                </a>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="msz-receiver-table-wrapper table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Получатель</th>
                <th>МСЗ</th>
                <th>Категория</th>
                <th>Решение</th>
                <th>Период действия</th>
                <th class="msz-receiver-table-control"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Receivers.Any())
            {
                @foreach (var receiver in Model.Receivers)
                {
                    <tr>
                        <td class="msz-receiver-cell">
                            <div class="msz-receiver-snp">@receiver.Surname @receiver.Name@(receiver.Patronymic != null ? " " + receiver.Patronymic : "")</div>
                            <div class="msz-receiver-birthdate">Дата рождения: @receiver.BirthDate.ToString("dd.MM.yyyy")</div>
                            <div class="msz-receiver-snils">СНИЛС: @receiver.Snils</div>
                        </td>
                        <td>@receiver.Msz.Name</td>
                        <td>@receiver.Category.Name</td>
                        <td>@(receiver.DecisionNumber != null ? receiver.DecisionNumber : "б/н") от @receiver.DecisionDate.ToString("dd.MM.yyyy")</td>
                        <td><div>c @receiver.StartDate.ToString("dd.MM.yyyy")</div>@(@receiver.EndDate != null ? Html.Raw("<div>по " + receiver.EndDate?.ToString("dd.MM.yyyy") + "</div>") : Html.Raw(""))</td>
                        <td>
                            <div class='btn-group' role='group'>
                                <a asp-action="Update" asp-route-id="@receiver.Id" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" class='btn btn-success'><span class='msz-glyphicon-only glyphicon glyphicon-pencil' aria-hidden='true'></span></a>

                                @if (_aclService != null && _aclService.CanDelete(receiver))
                                {
                                    <button data-id="@receiver.Id" class='btn btn-danger msz-receiver-delete-btn'><span class='msz-glyphicon-only glyphicon glyphicon-remove' aria-hidden='true'></span></button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="msz-receiver-table-empty">Получатели отсутствуют</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination msz-pagination">

        <li class="@(Model.PageOptions.PageIndex == 0 ? "disabled" : "")">
            <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@(Model.PageOptions.PageIndex - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            var startIndex = Math.Max(0, Model.PageOptions.PageIndex - 5);
            var endIndex = Math.Min(Model.PageOptions.PageCount - 1, Model.PageOptions.PageIndex + 5);
            var delta = endIndex - startIndex;
            if (delta <= 10)
            {
                if (startIndex == 0)
                {
                    endIndex = Math.Min(endIndex + 10 - delta, Model.PageOptions.PageCount - 1);
                }
                if (endIndex == Model.PageOptions.PageCount - 1)
                {
                    startIndex = Math.Max(startIndex - 10 + delta, 0);
                }
            }
        }
        @for (var i = startIndex; i <= endIndex; i++)
        {
            <li class="@(Model.PageOptions.PageIndex == i ? "active" : "")">
                <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@i">@(i + 1)</a>
            </li>
        }
        <li class="@(Model.PageOptions.PageIndex >= Model.PageOptions.PageCount - 1 ? "disabled" : "")">
            <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@(Model.PageOptions.PageIndex + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


<div class="modal fade" id="deleteReceiverModal" tabindex="-1" role="dialog" aria-labelledby="deleteReceiverModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="deleteReceiverModalTitle">Удалить запись?</h4>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить получателя «<span id="deleteReceiverSnp">{0}</span>»?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="0" />
                    <input type="hidden" name="returnUrl" value="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
                    <button type="submit" class="btn btn-danger msz-save-btn">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mszFilterModal" tabindex="-1" role="dialog" aria-labelledby="mszFilterModalTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="Index" method="get" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    <h4 class="modal-title" id="mszFilterModalTitle">Фильтрация</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.Surname" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <input asp-for="FilterOptions.Surname" class="form-control" />
                        </div>
                        <label asp-for="FilterOptions.Name" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <input asp-for="FilterOptions.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.Patronymic" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <input asp-for="FilterOptions.Patronymic" class="form-control" />
                        </div>
                        <label asp-for="FilterOptions.Snils" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <input asp-for="FilterOptions.Snils" class="form-control msz-snils-field" />
                        </div>
                    </div>
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.Address" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="FilterOptions.Address" class="form-control" />
                        </div>
                    </div>
                    <div class="checkbox msz-checkbox">
                        <label class="col-md-offset-2" asp-for="FilterOptions.IncludeReasonPersonsInFiltering">
                            <input type="checkbox" asp-for="FilterOptions.IncludeReasonPersonsInFiltering" />
                            Искать в том числе по лицам, являющимся основанием для назначения меры
                        </label>
                    </div>

                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.MszId" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <select asp-for="FilterOptions.MszId" asp-items="@mszs" class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.CategoryId" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <select asp-for="FilterOptions.CategoryId" class="form-control">
                                <option></option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option data-msz-id="@category.Msz.Id" value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.DecisionDate" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input id="FilterOptions_DecisionDate" name="FilterOptions.DecisionDate" value="@Model.FilterOptions.DecisionDate?.ToString("dd.MM.yyyy")" class="form-control" />
                                <div class="input-group-addon msz-show-date-picker-btn">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <label asp-for="FilterOptions.DecisionNumber" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <input asp-for="FilterOptions.DecisionNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.StartDate" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input id="FilterOptions_StartDate" name="FilterOptions.StartDate" value="@Model.FilterOptions.StartDate?.ToString("dd.MM.yyyy")" class="form-control" />
                                <div class="input-group-addon msz-show-date-picker-btn">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <label asp-for="FilterOptions.EndDate" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input id="FilterOptions_EndDate" name="FilterOptions.EndDate" value="@Model.FilterOptions.EndDate?.ToString("dd.MM.yyyy")" class="form-control" />
                                <div class="input-group-addon msz-show-date-picker-btn">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group msz-form-group">
                        <label asp-for="FilterOptions.ModifyDate" class="control-label col-md-2"></label>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input id="FilterOptions_ModifyDate" name="FilterOptions.ModifyDate" value="@Model.FilterOptions.ModifyDate?.ToString("dd.MM.yyyy")" class="form-control" />
                                <div class="input-group-addon msz-show-date-picker-btn">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-success">Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>