@using Msz.ViewModels
@model ReceiverIndexViewModel

@{
    ViewData["Title"] = "Реестр получателей МСЗ";
    var props = new Dictionary<string, string>();
    var filtered = false;
    foreach (var property in Model.FilterOptions.GetType().GetProperties())
    {
        var value = property.GetValue(Model.FilterOptions);
        if (value == null) { continue; }
        if (property.Name != "IncludeReasonPersonsInFiltering")
        {
            filtered = true;
        }
        props.Add("FilterOptions."+property.Name, property.GetValue(Model.FilterOptions).ToString());
    }
}

<div class="msz-tool-panel">
    <div class="col-sm-3 col-xs-12 msz-left-tool-group">
        <div class="row">
            <div class="btn-group msz-egisso-btn-group">
                <button type="button" class="btn btn-success dropdown-toggle msz-egisso-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ЕГИССО <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="DownloadFilteredRecievers"
                           asp-all-route-data="@props">
                            Выгрузить отфильтрованных получателей
                        </a>
                    </li>
                    <li>
                        <form asp-action="UpdateMszAndCategories" method="post" enctype="multipart/form-data">
                            <input type="file" id="msz-category-file-btn" name="xml" href="#">
                            <label for="msz-category-file-btn">Обновить категории и МСЗ</label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 msz-center-tool-group">
        <div class="row">
            <button type="button" class="btn btn-success msz-search-btn">Поиск</button>
            <!--
            -->
            <a asp-action="Index" class="btn btn-success msz-cancel-search-btn @(filtered ? "active" : "")">Отменить поиск</a>
        </div>
    </div>
    <div class="col-sm-3 col-xs-12 msz-right-tool-group">
        <div class="row">
            <a asp-action="Add" class="btn btn-success msz-add-receiver-btn">Добавить получателя</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="msz-receiver-table-wrapper table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Дата последнего изменения</th>
                <th>ФИО получателя</th>
                <th>Дата рождения получателя</th>
                <th>СНИЛС получателя</th>
                <th>МСЗ</th>
                <th>Категория</th>
                <th>Решение</th>
                <th>Период действия</th>
                <th class="msz-receiver-table-control"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Receivers.Any())
            {
                @foreach (var receiver in Model.Receivers)
                {
                    <tr>
                        <td>@receiver.CreatedDate.ToString("dd.MM.yyyy hh:mm:ss")</td>
                        <td>@receiver.Surname @receiver.Name@(receiver.Patronymic != null ? " " + receiver.Patronymic : "")</td>
                        <td>@receiver.BirthDate.ToString("dd.MM.yyyy")</td>
                        <td>@receiver.Snils</td>
                        <td>@receiver.Msz.Name</td>
                        <td>@receiver.Category.Name</td>
                        <td>@(receiver.DecisionNumber != null ? receiver.DecisionNumber : "б/н") от @receiver.DecisionDate.ToString("dd.MM.yyyy")</td>
                        <td>c @receiver.StartDate.ToString("dd.MM.yyyy")@(@receiver.EndDate != null ? " по "+ receiver.EndDate?.ToString("dd.MM.yyyy") : "")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="msz-receiver-table-empty">Получатели отсутствуют</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination msz-pagination">

        <li class="@(Model.PageOptions.PageIndex == 0 ? "disabled" : "")">
            <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@(Model.PageOptions.PageIndex - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            var startIndex = Math.Max(0, Model.PageOptions.PageIndex - 5);
            var endIndex = Math.Min(Model.PageOptions.PageCount - 1, Model.PageOptions.PageIndex + 5);
            var delta = endIndex - startIndex;
            if (delta <= 10)
            {
                if (startIndex == 0)
                {
                    endIndex = Math.Min(endIndex + 10 - delta, Model.PageOptions.PageCount - 1);
                }
                if (endIndex == Model.PageOptions.PageCount - 1)
                {
                    startIndex = Math.Max(startIndex - 10 + delta, 0);
                }
            }
        }
        @for (var i = startIndex; i <= endIndex; i++)
        {
            <li class="@(Model.PageOptions.PageIndex == i ? "active" : "")">
                <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@i">@(i+1)</a>
            </li>
        }
        <li class="@(Model.PageOptions.PageIndex >= Model.PageOptions.PageCount - 1 ? "disabled" : "")">
            <a asp-all-route-data="@props" asp-route-PageOptions.PageIndex="@(Model.PageOptions.PageIndex + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>